.idea
.venv
config.conf

crawler/.venv
crawler/links-gathered.txt
crawler/links-parsed.csv
crawler/links-gathered-asko.txt
crawler/links-gathered-beliani.txt
crawler/links-gathered-veneti.txt
crawler/sofa-set.csv

llm/.export

__pycache__/